<div class="service--content">
  <header class="service-header">
    <nav><a href="../" class="icon-close">
      <%- partial("_snippets/svg-icon.ejs", { name: 'close' }) %>
    </a></nav>
    <h1>Всё сложно</h1>
  </header>
  <div class="service-lead">
    <p>Мы поможем в&nbsp;непростых случаях: когда нужно одновременно купить и&nbsp;продать недвижимость, или&nbsp;провести сделку с&nbsp;опекой, снять недвижимость с&nbsp;ареста или даже сделать всё за&nbsp;вас, если вы в&nbsp;другом городе или&nbsp;стране. Опишите ситуацию, и&nbsp;мы&nbsp;перезвоним в&nbsp;течение суток.</h1></p>
  </div>
  <form action="" method="post" class="form__complicated">
    <input type="hidden" name="template" value="ohMyGod">
    <div class="control-row">
      <textarea name="message" placeholder="Описание ситуации" focus-on-load></textarea>
    </div>
    <div class="control-row control-row__small">
      <input class="input input__100" type="text" name="phone" placeholder="Номер, куда перезвонить">
    </div>
    <div class="control-row control-row__small">
      <button class="button button__100" type="submit">Отправить описание</button>
      <p><small>Перезвоним в течение суток</small></p>
    </div>
  </form>
</div>