<div class="service--content">
  <header class="service-header">
    <nav><a href="../" class="icon-close">
      <%- partial("_snippets/svg-icon.ejs", { name: 'close' }) %>
    </a></nav>
    <h1>Всё сложно</h1>
  </header>
  <div class="service-lead">
    <p>Мы поможем в непростых случаях: когда нужно одновременно купить и продать недвижимость, или провести сделку с опекой, снять недвижимость с ареста или даже сделать всё за вас, если вы в другом городе или стране. Опишите ситуацию, и мы перезвоним в течение суток.</h1></p>
  </div>
  <form action="" class="form__complicated">
    <div class="control-row">
      <textarea name="message" placeholder="Описание ситуации"></textarea>
    </div>
    <div class="control-row control-row__small">
      <input class="input input__100" type="text" placeholder="Номер, куда перезвонить">
    </div>
    <div class="control-row control-row__small">
      <button class="button button__100" type="submit">Отправить описание</button>
      <p><small>Перезвоним в течение суток</small></p>
    </div>
  </form>
</div>