<form action="" class="order-form order-form__simple">
  <div class="order-form--email-form email-form">
      <input type="email" name="email" id="email" class="order-form--input" placeholder="Электронная почта" required />
      <button type="submit" class="order-form--button">Отправить расчёт</button>
  </div>
  <div class="order-form--price">
    165&thinsp;000&nbsp;₽
  </div>
</form>