<div class="order-form order-form__va">
  <div class="order-form--controls">
    <div class="control-row">
      <div class="order-form--email-form">
          <input required type="email" name="email" id="email" class="input" placeholder="Электронная почта" />
          <button type="submit" class="button">Отправить расчёт</button>
      </div>
    </div>
  </div>
  <div class="order-form--price">
    <span><span id="totalPrice">100&thinsp;000</span><span class="rhs">&nbsp;</span>₽</span>
    <input type="hidden" name="price" value="100000" />
  </div>
</div>