<div class="order-form order-form__va">
  <div class="order-form--controls">
    <div class="control-row">
      <div class="order-form--email-form">
          <input disable-on-submit required type="email" name="mail" id="mail" class="input" placeholder="Электронная почта" />
          <button disable-on-submit type="submit" class="button">
            <span class="on-disable--show">Расчёт отправлен</span>
            <span class="on-disable--hide">Отправить расчёт</span>
          </button>
      </div>
    </div>
  </div>
  <div class="order-form--price">
    <span><span class="js-span-total-price">100&thinsp;000</span><span class="rhs">&nbsp;</span>₽</span>
    <input class="js-input-total-price" type="hidden" name="price" value="100000" />
  </div>
</div>