<form action="" class="order-form order-form__complex">
  <div class="order-form--inputrange">
      <label for="price">Стоимость дома, таунхауса</label>
      <input value="2&thinsp;000&thinsp;000" type="text" name="price" id="price" class="order-form--input" placeholder="Стоимость дома, таунхауса" />
  </div>
  <div class="order-form--email-form email-form">
      <input type="email" name="email" id="email" class="order-form--input" placeholder="Электронная почта" />
      <button type="submit" class="order-form--button">Отправить расчёт</button>
  </div>
  <div class="order-form--price">
    <label>Комиссия 5%</label>
    100&thinsp;000&nbsp;₽
  </div>
</form>