<div class="order-form">
  <div class="order-form--controls">
    <div class="control-row">
      <label for="price">Стоимость дома, таунхауса</label>
      <input value="2&thinsp;000&thinsp;000" type="text" name="price" id="price"
        class="input input__big input__100" placeholder="Стоимость дома, таунхауса" />
    </div>
    <div class="control-row">
      <div class="order-form--email-form">
          <input type="email" name="email" id="email" class="input" placeholder="Электронная почта" />
          <button type="submit" class="button">Отправить расчёт</button>
      </div>
    </div>
  </div>
  <div class="order-form--price">
    <label>Комиссия 5%</label>
    <span>100&thinsp;000&nbsp;₽</span>
  </div>
</div>