<% if (servicesExtra.length) {%>
  <h2><% if (locals.title) {%><%- locals.title %><% } else { %>Дополнительные услуги<% } %></h2>
  <% servicesExtra.forEach(function(service){ %>
    <%- partial("./" + blocks[service].type, blocks[service]) %>
  <% }); %>
<% } %>