<% if (servicesExtra.length) {%>
  <h2><% if (locals.title) {%><%- locals.title %><% } else { %>Дополнительные услуги<% } %></h2>
  <% servicesExtra.forEach(function(service, id){ %>
    <%- partial("./" + blocks[service].type, { id, ...blocks[service] }) %>
  <% }); %>
<% } %>