<% if (services.length) {%>
  <h2><% if (locals.title) {%><%- locals.title %><% } else { %>Рекомендуемые услуги<% } %></h2>
  <%
    const serviceList = services.map(service => ({
      name: service,
      data: partial(`../${current.path.slice(0,-1).join('/')}/${service}`)
    }))
  %>
  <% serviceList.forEach(function(service){ %>
    <%- partial("./service-item", service) %>
  <% }); %>
<% } %>