<% var formattedPrice = price.toString().replace(/(\d)(?=(\d{3})+$)/g, '$1&thinsp;'); %>
<div class="service-item service-item__extra">
  <h3><%- title %></h3>
  <div class="service-item--price"><%- formattedPrice %> ₽</div>
</div>