.content-wrapper {
  overflow-y: scroll;
  .site-content & {
    padding: 50px 20px 20px 40px;
  }
}

.site-content {
  &, & .content-wrapper {
    height: calc(100vh - 142px);
  }
}
.site-content--footer {
  height: 63px;
  background: #1D3070;
  border-top: 3px solid #000;
}

.service-wrapper {
  position: relative;
}

.service-list {
  max-width: 600px;
  h2 {
    font-size: 16px;
    padding: 20px 0 16px 0;
  }
}

.service-list--navigation {
  a {
    display: block;
    text-decoration: none;
    padding: 10px;
    transition: opacity .1s ease-in-out;
    &:hover, &:focus, &:active {
      opacity: .8;
    }
  }
  position: absolute;
  top: 10px;
  right: 10px;
}
.service-item {
  padding: 10px 100px 0 0;
  position: relative;
  border-top: 1px solid #C5C5C5;
  font-size: 13px;
  p, li {
    line-height: 16px;
  }
  ol {
    padding: 0 0 1rem 0;
    margin: 0;
    list-style-position: inside;
  }
  li {
    margin: 0;
    padding: 0;
  }
  li + li {
    padding-top: .5rem;
  }
  h3 {
    font-weight: normal;
    padding-bottom: 8px;
  }
}
.service-item__extra {
  padding-bottom: 10px;
}
.service-item--price {
  position: absolute;
  top: 7px;
  right: 0;
  font-size: 16px;
  ul {
    margin: 0;
    padding: 5px 0 0 0;
    max-width: 90px;
    list-style-type: none;
    font-size: 14px;
  }
  li {
    margin: 0;
    padding: 0;
  }
}

.service-list__percent .service-item {
  padding-right: 0;
  .service-item--price {
    display: none;
  }
}