@import '_variables';

.order-form {
  margin: 0 0 0 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
  color: #fff;
}
.order-form__simple {
  max-width: 600px;
  padding: 16px 0;
}
.order-form__complex {
  flex-direction: column;
  align-items: flex-start;
  max-width: 770px;
  position: relative;
  padding-right: 170px;
  label {
    display: block;
    font-size: 13px;
    line-height: 1;
    padding-bottom: 2px;
  }
  .order-form--inputrange {
    width: 100%;
    padding: 16px 0 20px;
    .order-form--input {
      width: 100%;
      font-size: 24px;
    }
  }
  .order-form--email-form {
    width: 100%;
    padding: 0 0 16px;
    .order-form--input {
      width: calc(100% - 200px);
    }
    .order-form--button {
      float: right;
    }
  }
  .order-form--price {
    position: absolute;
    right: 0%;
    top: 16px;
    width: 120px;
    label {
      padding-bottom: 8px;
    }
  }

  @media screen and (max-width: 1120px ) {
    max-width: 600px;
  }
}


.order-form--email-form, .order-form--price {
  flex: 0 1 auto;
  align-self: auto;
}
.order-form--email-form {
  font-size: 0;
}
.order-form--price {
  font-size: 24px;
  line-height: 1;
}

.order-form--input + .order-form--button {
  margin-left: 15px;
}
.order-form--input {
  height: 35px;
  border: none;
  border-bottom: 1px solid #D1D5E2;
  color: #D1D5E2;
  background: transparent;
  font-size: 16px;
  ::placeholder {
    color: #606D9A;
  }
  &:focus, &:active {
    color: #fff;
    border-color: #fff;
  }
}
.order-form--button {
  height: 36px;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  padding: 0 22px 0 20px;
  transition: background-color .3s ease-in-out;
  &:hover, &:focus, &:active {
    background-color: #071330;
  }
}


.hire-form {
  display: flex;
  border-bottom: 1px solid #666;
  padding-top: 14px;

  input {
    flex: 1 1 auto;
    width: 100%;
    border: none;
    font-size: 16px;
    height: 28px;
    line-height: 28px;
    ::placeholder {
      color: #7f7f7f;
    }
  }
  button {
    flex: 0 1 auto;
    border: none;
    background: transparent;
    margin: 0;
    padding: 0 0 0 10px;
    height: 28px;
    cursor: pointer;
    &:active, &:focus {
      opacity: .7;
    }
  }

  &:focus-within {
    border-bottom-color: #000;
  }
}