@import 'variables';

.bg-white {
  background-color: $color-white;
}
.bg-black {
  background-color: $color-black;
}
.bg-blue {
  background-color: $color-blue;
}
.bg-yellow {
  background-color: $color-yellow;
}
.bg-red {
  background-color: $color-red;
}