@import 'variables';

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8 {
  flex: 1 1 100%;
  align-self: auto;
}

@for $i from 1 through 8 {
  .col-#{$i} {
    flex-basis: #{12.5%*$i};
  }
}

@supports (display: grid) {
  .row {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
  }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8 {
    height: 100%;
  }
  @for $i from 1 through 8 {
    .col-#{$i} {
      grid-column: span #{$i};
    }
  }
}