@import 'variables';
// 'white', 'black', 'blue', 'yellow', 'red'

@mixin a-colors($primary-color, $secondary-color) {
  a {
    color: $primary-color;
    &:hover {
      color: $secondary-color;
    }
  }
}

@mixin svg-fill-stroke($colorName, $color) {
  .svg-#{$colorName}-fill {
    fill: $color;
  }
  .svg-#{$colorName}-stroke {
    stroke: $color;
  }
  a:hover, button:hover {
    .svg-#{$colorName}-fill--hover {
      fill: $color;
    }
    .svg-#{$colorName}-stroke--hover {
      stroke: $color;
    }
  }
}

@mixin svg-colors($primary-color, $secondary-color) {
  @include svg-fill-stroke('primary', $primary-color);
  @include svg-fill-stroke('secondary', $secondary-color);
}

a { text-decoration: none; }
$primary-color: $color-black;
$secondary-color: $color-red;
@include a-colors($primary-color, $secondary-color);
@include svg-colors($primary-color, $secondary-color);

@include svg-fill-stroke('white', $color-white);
@include svg-fill-stroke('black', $color-black);
@include svg-fill-stroke('blue', $color-blue);
@include svg-fill-stroke('red', $color-red);
@include svg-fill-stroke('yellow', $color-yellow);

.bg-blue {
  color: $color-white;
  $primary-color: $color-white;
  $secondary-color: $color-red;
  @include a-colors($primary-color, $secondary-color);
  @include svg-colors($primary-color, $secondary-color);
}

.bg-white { 
  $primary-color: $color-black;
  $secondary-color: $color-red;
  color: $primary-color;
  @include a-colors($primary-color, $secondary-color);
  @include svg-colors($primary-color, $secondary-color);
}

.bg-black {
  color: #f9f9f9;
  $primary-color: #f9f9f9;
  $secondary-color: $color-red;
  @include a-colors($primary-color, $secondary-color);
  @include svg-colors($primary-color, $secondary-color);
}

.bg-yellow {
  $primary-color: $color-black;
  $secondary-color: $color-white;
  @include a-colors($primary-color, $secondary-color);
  @include svg-colors($primary-color, $secondary-color);
}
.bg-red {
  $primary-color: $color-black;
  $secondary-color: $color-white;
  @include a-colors($primary-color, $secondary-color);
  @include svg-colors($primary-color, $secondary-color);
}


.util--icon-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;
}