@import 'variables';
// 'white', 'black', 'blue', 'yellow', 'red'

@mixin a-colors($primary-color, $secondary-color) {
  a {
    color: $primary-color;
    &:hover {
      color: $secondary-color;
    }
  }
}

@mixin svg-colors($primary-color, $secondary-color) {
  .svg-primary-fill {
    fill: $primary-color;
  }
  .svg-primary-stroke {
    stroke: $primary-color;
  }
  .svg-secondary-fill {
    fill: $secondary-color;
  }
  .svg-secondary-stroke {
    stroke: $secondary-color;
  }
  a:hover, button:hover {
    .svg-primary-fill--hover {
      fill: $primary-color;
    }
    .svg-primary-stroke--hover {
      stroke: $primary-color;
    }
    .svg-secondary-fill--hover {
      fill: $secondary-color;
    }  
    .svg-secondary-stroke--hover {
      stroke: $secondary-color;
    }
  }  
}

a { text-decoration: none; }
$primary-color: $color-black;
$secondary-color: $color-red;
@include a-colors($primary-color, $secondary-color);
@include svg-colors($primary-color, $secondary-color);

.bg-blue {
  color: $color-white;
  $primary-color: $color-white;
  $secondary-color: $color-red;
  @include a-colors($primary-color, $secondary-color);
  @include svg-colors($primary-color, $secondary-color);
}

.bg-black {
  color: #f9f9f9;
  $primary-color: #f9f9f9;
  $secondary-color: $color-red;
  @include a-colors($primary-color, $secondary-color);
  @include svg-colors($primary-color, $secondary-color);
}

.bg-yellow {
  $primary-color: $color-black;
  $secondary-color: $color-white;
  @include a-colors($primary-color, $secondary-color);
  @include svg-colors($primary-color, $secondary-color);
}
.bg-red {
  $primary-color: $color-black;
  $secondary-color: $color-white;
  @include a-colors($primary-color, $secondary-color);
  @include svg-colors($primary-color, $secondary-color);
}


.util--icon-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;
}