@import 'variables';

@mixin a-colors($primary-color, $secondary-color) {
  a {
    color: $primary-color;
    &:hover {
      color: $secondary-color;
    }
  }
}

.svg-stroke-o40 {
  stroke-opacity: 0.4;
}
a:hover, button:hover {
  .svg-stroke-o100--hover {
    stroke-opacity: 1;
  }
}

@mixin svg-fill-stroke($colorName, $color) {
  .svg-#{$colorName}-fill {
    fill: $color;
  }
  .svg-#{$colorName}-stroke {
    stroke: $color;
  }
  a:hover, button:hover {
    .svg-#{$colorName}-fill--hover {
      fill: $color;
    }
    .svg-#{$colorName}-stroke--hover {
      stroke: $color;
    }
  }
}

@mixin svg-colors($primary-color, $secondary-color, $bg-color) {
  @include svg-fill-stroke('primary', $primary-color);
  @include svg-fill-stroke('secondary', $secondary-color);
  @include svg-fill-stroke('bg', $bg-color);
}

@mixin render-block($background-color, $primary-color, $secondary-color) {
  color: $primary-color;
  background-color: $background-color;
  @include a-colors($primary-color, $secondary-color);
  @include svg-colors($primary-color, $secondary-color, $background-color);
}

a { text-decoration: none; }
$primary-color: $color-black;
$secondary-color: $color-red;
@include a-colors($primary-color, $secondary-color);
@include svg-colors($primary-color, $secondary-color, $color-white);

@include svg-fill-stroke('white', $color-white);
@include svg-fill-stroke('black', $color-black);
@include svg-fill-stroke('blue', $color-blue);
@include svg-fill-stroke('red', $color-red);
@include svg-fill-stroke('yellow', $color-yellow);


.bg-white {
  @include render-block($color-white, $color-black, $color-red);
}

.bg-black {
  @include render-block($color-black, $color-white, $color-red);
}

.bg-blue {
  @include render-block($color-blue, $color-white, $color-red);
}

.bg-yellow {
  @include render-block($color-yellow, $color-black, $color-white);
}

.bg-red {
  @include render-block($color-red, $color-black, $color-white);
}


.util--icon-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;
}