@import 'variables';

html {
  height: 100vh;
  overflow: hidden;
}


@media screen and (max-width: #{$min-width}) {
  html {
    overflow-x: scroll;
  }
}

body {
  padding-top: $header-height;
  border: 10px solid $color-black;
  border-width: 0 10px 10px 0;
  height: 100vh;
  min-width: $min-width;
  &.has-service-footer-simple {
    padding-bottom: $footer-height-simple;
  }
  &.has-service-footer-complex {
    padding-bottom: $footer-height-complex;
  }
  &.has-sidebar {
    padding-left: $has-sidebar;
  }
  &.has-sidebars {
    padding-left: $has-sidebars;
  }
  &.has-sidebars_active {
    padding-left: $has-sidebars_active;
  }
  // overflow-y: scroll;
}

.layout-header {
  background: #000;
  height: $header-height;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.layout--sidebar {
  position: absolute;
  top: $header-height;
  bottom: 0;
  left: 0;
  z-index: 100;
  // height: $layout-height;
}

.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  min-width: 1000px;
}

.layout--content {
  overflow-y: scroll;
  height: $layout-height;
  .has-service-footer-simple & {
    height: $layout-height-simple;
  }
  .has-service-footer-complex & {
    height: $layout-height-complex;
  }
}

.service--content {
  padding: 0 0 60px 0;
}
.service--footer {
  border-top: 3px solid #000;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 10px;
  .has-sidebar & {
    left: $has-sidebar;
    min-width: #{$min-width - $has-sidebar - 10};
  }
  .has-sidebars & {
    left: $has-sidebars;
    min-width: #{$min-width - $has-sidebars - 10};
  }
  .has-sidebars_active & {
    left: $has-sidebars_active;
    min-width: #{$min-width - $has-sidebars_active - 10};
  }
}