@import 'variables';

.layout-header {
  background: #000;
  height: 69px;
}

.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  min-width: 1000px;
}

.layout--sidebar {
  order: 0;
  flex: 0 0 auto;
  align-self: auto;
  height: $layout-height;
}

.layout--content {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  height: $layout-height;
}

.service-layout {
  height: $layout-height;
  display: grid;
  grid-template-rows: 1fr auto;
}
.service-layout--container {
  overflow-y: scroll;
  padding: 0 0 60px 0;
  position: relative;
}
.service-layout--footer {
  background: #1E3179;
  border-top: 3px solid #000;
}