@import 'variables';

.scroll-container {
  height: $layout-height;
  overflow-y: scroll;
}

.main-page--welcome {
  height: $layout-height;
  background: #000 url(../img/bg-main-page.jpg) 0 10% no-repeat;
  background-size: cover;
  border-bottom: 2px solid #000;
  color: #fff;
  padding: 51px 30px 29px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: stretch;
  align-items: flex-start;
  h1 {
    font-size: 59px;
    line-height: 1.11;
    margin: 0;
    padding: 0 0 20px 0;
  }
  p {
    max-width: 592px;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    &.subheader {
      line-height: 1;
      padding-bottom: 9px;
    }
  }
  .main-page--navigation-arrow {
    margin-top: 21px;
  }
}

.main-page {
  h2 {
    font-size: 40px;
    padding: 0 0 2px 0;
  }
  h3 {
    padding: 0 0 1px 0;
  }
  .row {
    border: 2px solid black;
    border-width: 2px 0;
  }
  .main-page+.row {
    border-top-width: 4px;
  }
  .row:last-child {
    border-bottom: none;
  }
  .row>*[class^="col"] {
    border: 2px solid #000;
    border-width: 0 2px;
    padding: 27px 28px 31px;
  }
  .row>*[class^="col"]:first-child {
    border-left: none;
  }
  .row>*[class^="col"]:last-child {
    border-right: none;
  }
}

.main-page .row {
  .main-page--description {
    padding: 40px 50px 40px 30px;
  }
  .main-page--expirience {
    display: flex;
    align-items: center;
    p {
      padding: 0;
      font-size: 20px;
    }
    b {
      display: block;
      font-size: 100px;
      font-weight: 400;
      line-height: 1;
      height: 0.9em;
      margin-left: -4px;
    }
  }
  .main-page--discount {
    padding: 20px;
    p {
      display: flex;
      padding: 0;
    }
    b {
      flex: 0 0 50px;
      font-size: 70px;
      font-weight: 400;
      line-height: 1;
      padding: 0 23px 0 0;
      height: 0.85em;
    }
  }
  .main-page--video {
    padding: 0;
  }
  .main-page--employee {
    padding-bottom: 0;
  }
  .main-page--vacancy {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    padding: 0;
    background: $color-black;
    .bg-white {
      padding: 27px 28px 31px;
      min-height: 250px;
    }
  }
  .main-page--address {
    color: #fff;
    border-top: 75px solid #000;
    padding-bottom: 3px;
    padding-top: 32px;
  }
  .main-page--map {
    padding: 0;
    height: 450px;
    background-color: #fff;
    background: url(/img/bg-map.png) center center no-repeat;
    background-size: cover;
  }
  .proposal-block {
    padding: 26px 35px 23px 30px;
  }
}

.proposal-block {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;
}

.proposal-block--description {
  flex: 1 1 auto;
}

.proposal-block--images {
  text-align: right;
  flex: 0 1 auto;
  align-self: flex-end;
  padding: 25px 0 0 0;
  a {
    display: inline-block;
  }
  a + a {
    margin-left: 18px;
  }
  .icon-kmstudio {
    background: url(/img/proposal-kmstudio-bg.png) top left no-repeat;
    background-size: 61px 106px;
  }
  a:hover .icon-kmstudio {
    background-position: bottom left;
  }
}

.employee-list {
  padding: 0!important;
  display: flex;
  flex-direction: column;
  .employee__horizontal {
    border: 2px solid #000;
    border-width: 2px 0;
  }
  .employee__horizontal:first-child {
    border-top: none;
  }
  .employee__horizontal:last-child {
    border-bottom: none;
  }
}

.employee {
  display: flex;
  ul {
    list-style: none;
    line-height: 1;
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0;
    padding: 0 0 10px 0px;
  }
}

.employee--image {
  flex: 0 0 auto;
  align-self: flex-end;
  img {
    width: 171px;
    max-width: 100%;
    margin-right: 20px;
  }
}

.employee__vertical {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-end;
  align-items: flex-end;
  padding-bottom: 0;
  .employee--image {
    order: 1;
    flex: 0 0 auto;
    align-self: center;
    margin: 0 -28px; // blockp padding compensation
  }
  .employee--description {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }
}

.employee__horizontal {
  flex: 0 0 50%;
  .employee--description {
    padding: 27px 20px 0 0;
  }
}

.address-block {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;
}
.address-block--top,
.address-block--bottom {
  max-width: 200px;
}
.address-block--bottom p {
  line-height: 1.4;
}