<html>
  <%- partial("_snippets/head.jade") %>
  <body>
    <%- partial("_snippets/header.ejs") %>
    <main class="layout-main">
      <aside class="layout-sidebar">
        <div class="menu-wrapper">
          <%- partial('_snippets/menu.ejs') %>
        </div>
      </aside>
      <div class="layout-content">
        <div class="main-page">
          <h1>Недвижимость<br/>в Москве и Подмосковье</h1>
          <p>Найдём покупателя, подберём квартиру или дом, проверим документы на юридическую чистоту и организуем все этапы сделки</p>
        </div>
      </div>
    </main>
  </body>
</html>