<html>
  <%- partial("_snippets/head.jade") %>
  <body>
    <%- partial("_snippets/header.ejs") %>
    <div class="layout">
      <aside class="layout--sidebar">
        <div class="menu-wrapper">
          <%- partial('_snippets/menu.ejs') %>
        </div>
      </aside>
      <main class="layout--content">
        <div class="main-page--container">
          <div class="main-page">
            <p class="subheader">Москва и Подмосковье</p>
            <h1>Квартиры, дома <br>и коммерческая <br>недвижимость</h1>
            <p>Помогаем купить, продать, получить ипотеку, сдать и арендовать недвижимость. Сопровождаем сделки на всех этапах, проверяем юридическую чистоту и помогаем в сложных ситуациях.</p>
            <img src="/img/icon-arrow-down.svg" alt="Пролистайте вниз" class="main-page--navigation-arrow">
          </div>
          <div class="row">
            <div class="col-6 main-page--description">
              <h2>Делаем всё</h2>
              <p>Мы работаем с квартирами, комнатами, долями, домами и коммерческой недвижимостью. Помогаем покупать, продавать, сдавать и арендовать. Избавляем клиентов от юридической волокиты и бесконечных переговоров.</p>
              <p>Мы помогаем в сложных случаях: когда вовлечены органы опеки, или нужно снять объект с ареста, или другая сторона внезапно отказывается выходить на сделку, или всё вместе.</p>
            </div>
            <div class="col-2 main-page--expirience">
              <p>
                <b>5+</b>
                минимальный опыт риелтора в&nbsp;бюро — пять лет
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-2 main-page--black-box"></div>
            <div class="col-2">
              <p><strong>Бесплатно</strong><br/>консультируем и оцениваем недвижимость</p>
            </div>
            <div class="col-4">
              <h3>Оплата после оказания услуг</h3>
              <p>Единственный раз, когда вы платите до окончания сделки — это внесение аванса при покупке недвижимости</p>
            </div>
          </div>
          <div class="row">
            <div class="col-7 main-page--discount">
              <p><b>10%</b><span class="visually-hidden"> — </span>скидка на все услуги повторным клиентам, пенсионерам, многодетным семьям, отцам- и матерям-одиночкам, детям под опекой, участникам войны, инвалидам и малоимущим</p>
            </div>
            <div class="col-1 main-page--black-box"></div>
          </div>
          <div class="row">
            <div class="col-4 proposal-block">
              <div class="proposal-block--description">
                <h3>Льготные условия от банков</h3>
                <p>Сниженная ставка по ипотеке и неограниченные подачи документов</p>
              </div>
              <div class="proposal-block--image"><img width="200px" height="53px" src="/img/proposal-1.png" alt="" /></div>
            </div>
            <div class="col-4 proposal-block">
              <div class="proposal-block--description">
                <h3>Скидки от дизайн-студий</h3>
                <p>Скидка от 10% до 20% на дизайн интерьера и ремонт</p>
              </div>
              <div class="proposal-block--image"><img width="200px" height="53px" src="/img/proposal-2.png" alt="" /></div>
            </div>
          </div>
          <div class="row">
            <div class="col-8 main-page--black-box main-page--black-box__video">
              <p>Юлия и Константин рассказывают об опыте продажи и покупки квартиры с&nbsp;помощью бюро
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-8 main-page--video"><img width="100%" src="/img/youtube-video.png" alt=""></div>
          </div>
          <div class="row">
            <div class="col-2 main-page--employee employee employee__vertical">
              <div class="employee--image">
                <img src="/img/employee-kozlova.jpg" width="198px" alt="">
              </div>
              <div class="employee--description">
                <h3>Оксана Козлова</h3>
                <ul>
                  <li>директор бюро</li>
                  <li>10 лет на рынке недвижимости</li>
                  <li>64 сделки</li>
                </ul>
              </div>
            </div>
            <div class="col-4 main-page-employee-list">
              <div class="employee employee__horizontal">
                <div class="employee--image">
                  <img src="/img/employee-raevskaya.jpg" width="198px" alt="">
                </div>
                <div class="employee--description">
                  <h3>Юлия Раевская</h3>
                  <ul>
                    <li>главный эксперт</li>
                    <li>7 лет на рынке недвижимости</li>
                    <li>48 сделок</li>
                  </ul>
                </div>
              </div>
              <div class="employee employee__horizontal">
                <div class="employee--image">
                  <img src="/img/employee-kudina.jpg" width="198px" alt="">
                </div>
                <div class="employee--description">
                  <h3>Людмила Кудина</h3>
                  <ul>
                    <li>старший эксперт</li>
                    <li>6 лет на рынке недвижимости</li>
                    <li>39 сделок</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-2 main-page--vacancy">
              <h3>Работа в бюро</h3>
              <p>Если хотите в нашу команду, отправьте свой номер телефона. Мы перезвоним в течение суток.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-4 main-page--address address-block">
              <div class="address-block--top">
                <p>Мясницкая улица, 35, строение 2 <br>Москва, Россия, 101000</p>
                <p>Офис открыт в ПН—ПТ с 10 до 18</p>
                <p>Вход с проспекта Академика Сахарова</p>
                <p>Рядом платная парковка</p>
              </div>
              <div class="address-block--bottom">
                <p>+7 495 773-77-55</p>
                <p><a href="mailto:mail@gbn.moscow">mail@gbn.moscow</a></p>
              </div>
            </div>
            <div class="col-4 main-page--map">
              <iframe src="https://yandex.com/map-widget/v1/?um=constructor%3A42dcf3a3558eabbdbdcfe856c909ade2d5e03f4b36f3c8b774f05a5579199dc4&amp;source=constructor" width="100%" height="450" frameborder="0"></iframe>
            </div>
          </div>
        </div>
      </main>
    </div>
    <%- partial("_snippets/footer-scripts.ejs") %>
  </body>
</html>