<%
  const bgs = ['white', 'black', 'blue', 'yellow', 'red'];
%>
<% bgs.forEach(function(bg){ %>
  <div class="bg-<%- bg %>" style="padding: 2rem 3rem">
    <h1>Срочно продать квартиру</h1>
    <h2>Базовый пакет услуг</h2>
    <h3>Анализ рынка, оценка стоимости квартиры</h3>
    <p>Бывает, что продавцу <a href="">важно быстро получить деньги</a>: например, он срочно уезжает за границу или хочет вложиться в бизнес. Если повезёт, самые оперативные сделки с живыми покупателями проходят за две-три недели. Если нужно гарантированно получить деньги быстрее — мы можем сделать срочный выкуп квартиры за неделю.</p>
  </div>
<% }); %>