<header class="layout-header">
  <div class="header">
    <div class="header--logo">
      <img src="img/icon-logo.svg" alt=""> Городское бюро недвижимости
    </div>
    <div class="header--phone">
      <a href="tel:+74957735577">+7&nbsp;495&nbsp;773-55-77</a>
    </div>
  </div>
</header>
<main class="layout-service">
  <aside class="layout-sidebar">
    <div class="menu-wrapper">
      <nav class="menu menu__shrinked menu__level1">
        <li>
          <a href="">Продать</a>
        </li>
        <li><span>Купить</span></li>
        <li>
          <a href="">Продать и купить</a>
        </li>
        <li>
          <a href="">Срочно продать (выкуп)</a>
        </li>
        <li>
          <a href="">Получить ипотеку</a>
        </li>
        <li>
          <a href="">Сдать в аренду</a>
        </li>
        <li>
          <a href="">Арендовать</a>
        </li>
        <li>
          <a href="">Всё сложно</a>
        </li>
      </nav>
      <nav class="menu menu__shrinked menu__level2">
        <li><span>Квартиру</span></li>
        <li>
          <a href="inner.html">Долю</a>
        </li>
        <li>
          <a href="inner.html">Комнату</a>
        </li>
        <li>
          <a href="inner.html">Дом, таунхаус</a>
        </li>
        <li>
          <a href="inner.html">Коммерче&shy;скую недви&shy;жимость</a>
        </li>
      </nav>
    </div>
  </aside>
  <div class="layout-content">
    <div class="site-content">
      <div class="content-wrapper">
        <img src="img/content-md.png" alt="">
      </div>
    </div>
    <div class="site-content--footer">
      <div class="content--footer">
        <div class="contact-form">
          <form action="">
            <input type="email" name="email" id="email" placeholder="Эл. почта, куда прислать расчёт" />
            <button type="submit"><img src="img/icon-arrow-right.svg" alt="Отправить"></button>
          </form>
        </div>
        <div class="price">
          165&thinsp;000&nbsp;₽
        </div>
      </div>
    </div>
  </div>
</main>