<main class="layout-main">
  <aside class="layout-sidebar">
    <div class="menu-wrapper">
      <nav class="menu menu__shrinked menu__level1">
        <li>
          <a href="subcategory.html">Продать</a>
        </li>
        <li>
          <span>Купить</span>
        </li>
        <li>
          <a href="subcategory.html">Продать и купить</a>
        </li>
        <li>
          <a href="subcategory.html">Срочно продать (выкуп)</a>
        </li>
        <li>
          <a href="subcategory.html">Получить ипотеку</a>
        </li>
        <li>
          <a href="subcategory.html">Сдать в аренду</a>
        </li>
        <li>
          <a href="subcategory.html">Арендовать</a>
        </li>
        <li>
          <a href="subcategory.html">Всё сложно</a>
        </li>
      </nav>
      <nav class="menu menu__level2">
        <li>
          <a href="inner.html">Квартиру</a>
        </li>
        <li>
          <a href="inner.html">Долю</a>
        </li>
        <li>
          <a href="inner.html">Комнату</a>
        </li>
        <li>
          <a href="inner.html">Дом, таунхаус</a>
        </li>
        <li>
          <a href="inner.html">Коммерче&shy;скую недви&shy;жимость</a>
        </li>
      </nav>
    </div>
  </aside>
  <div class="layout-content">
    <div class="main-page">
      <h1>Недвижимость<br/>в Москве и Подмосковье</h1>
      <p>Найдём покупателя, подберём квартиру или дом, проверим документы на юридическую чистоту и организуем все этапы сделки</p>
    </div>
  </div>
</main>