@import 'variables';
.fader {
  display: none;
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border: 10px solid #000;
  background: #fff; // background: transparent;
  opacity: 0;
  pointer-events: none;
}

.is-loading .fader {
  display: block;
  // opacity: .5;
  z-index: 50;
  pointer-events: all;
}

.is-loading .layout--content > * {
  filter: opacity(.5)
}
.is-loading .service--footer > * {
  filter: opacity(.7)
}
.is-loading .main-page {
  filter: opacity(1)
}
.is-loading .main-page > .main-page--welcome {
  filter: opacity(.6)
}
.is-loading .main-page > .row {
  filter: opacity(.6)
}