@import 'variables';

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
  // padding: px(15px) px(30px) px(14px) px(15px);
  padding: 15px 30px 14px 15px;
  min-width: $min-width;
}

.header--logo, .header--phone {
  flex: 0 1 auto;
  align-self: auto;
}

.header--logo {
  // @include fontSize(20px);
  font-size: 20px;
  svg {
    vertical-align: middle;
    width: 30px;
    height: 41px;
    margin-right: 10px;
    // width: px(30px);
    // height: px(41px);
    // margin-right: px(10px);
  }
}

.header--phone a {
  text-decoration: none;
  font-size: 20px;
  // @include fontSize(20px);
  line-height: 1;
}