@import 'variables';

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
  padding: px(15px) px(30px) px(14px) px(15px);
  min-width: $min-width;
}

.header--logo, .header--phone {
  flex: 0 1 auto;
  align-self: auto;
}

.header--logo {
  @include fontSize(20px);
  svg {
    width: px(30px);
    height: px(41px);
    vertical-align: middle;
    margin-right: px(10px);
  }
}

.header--phone a {
  text-decoration: none;
  @include fontSize(20px);
  line-height: 1;
}