@import 'variables';

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
  padding: 15px 30px 14px 15px;
  min-width: $min-width;
}

.header--logo, .header--phone {
  flex: 0 1 auto;
  align-self: auto;
}

.header--logo {
  @include fontSize(20px);
  svg {
    width: 30px;
    height: 41px;
    vertical-align: middle;
    margin-right: 10px;
  }
  .main-page & a {
    pointer-events: none;
    transition: none;
    .svg-primary-fill, .svg-secondary-fill--hover {
      fill: #fff;
    }
  }
}

.header--phone a {
  text-decoration: none;
  @include fontSize(20px);
  line-height: 1;
}