@import 'variables';

html {
  height: 100vh;
  overflow: hidden;
}


@media screen and (max-width: #{$min-width}) {
  html {
    overflow-x: scroll;
  }
}

body {
  padding-top: $header-height;
  border: 10px solid $color-black;
  border-width: 0 10px 10px 0;
  height: 100vh;
  min-width: $min-width;
  overflow-y: hidden;
  // .js-animate & {
  //   transition: padding-left $uiTransitionDuration $uiTransitionFunction;
  // }
  &.has-service-footer-simple {
    padding-bottom: $footer-height-simple;
  }
  &.has-service-footer-complex {
    padding-bottom: $footer-height-complex;
  }
  &.has-sidebar {
    padding-left: $has-sidebar;
  }
  &.has-sidebars {
    padding-left: $has-sidebars;
  }
  &.has-sidebars_active {
    padding-left: $has-sidebars_active;
  }
  // overflow-y: scroll;
}

.layout-header {
  background: #000;
  height: $header-height;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.layout--sidebar {
  position: absolute;
  top: $header-height;
  bottom: 0;
  left: 0;
  z-index: 40;
  // height: $layout-height;
}

.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  min-width: $min-width;
}

.layout--content {
  overflow-x: hidden;
  overflow-y: scroll;
  transform: translateZ(0px);
  height: $layout-height;
  .has-service-footer-simple & {
    height: $layout-height-simple;
  }
  .has-service-footer-complex & {
    height: $layout-height-complex;
  }
}

.service--content {
  padding: 0 0 100px 0;
}
.service--footer {
  border-top: 4px solid #000;
  position: absolute;
  bottom: 10px;
  left: $has-sidebars;
  right: 10px;
  // .js-animate & {
  //   transition: left $uiTransitionDuration $uiTransitionFunction;
  // }
  .has-sidebar & {
    left: $has-sidebar;
    min-width: #{$min-width - $has-sidebar - 10};
  }
  .has-sidebars & {
    left: $has-sidebars;
    min-width: #{$min-width - $has-sidebars - 10};
  }
  .has-sidebars_active & {
    left: $has-sidebars_active;
    min-width: #{$min-width - $has-sidebars_active - 10};
  }
}

.icon-close {
  position: fixed;
  top: $header-height + 20px;
  right: 26px;
  z-index: 10;
  display: none;
  pointer-events: none;
  @media screen and (max-width: #{$min-width}) {
    right: auto;
    left: #{$min-width - 20px - 26px};
  }
}
.has-service-footer-simple, .has-service-footer-complex {
  .icon-close {
    display: block;
    pointer-events: all;
  }
}