@import 'variables';

html {
  height: 100vh;
  overflow: hidden;
}


@media screen and (max-width: #{$min-width}) {
  html {
    overflow-x: scroll;
  }
}

body {
  padding-top: $header-height;
  border: px(10px) solid $color-black;
  border-width: 0 px(10px) px(10px) 0;
  height: 100vh;
  min-width: $min-width;
  overflow-y: hidden;
  &.has-service-footer-simple {
    padding-bottom: $footer-height-simple;
  }
  &.has-service-footer-complex {
    padding-bottom: $footer-height-complex;
  }
  &.has-sidebar {
    padding-left: $has-sidebar;
  }
  &.has-sidebars {
    padding-left: $has-sidebars;
  }
  &.has-sidebars_active {
    padding-left: $has-sidebars_active;
  }
  // overflow-y: scroll;
}

.layout-header {
  background: #000;
  height: $header-height;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.layout--sidebar {
  position: absolute;
  top: $header-height;
  bottom: 0;
  left: 0;
  z-index: 90;
  // height: $layout-height;
}

.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  min-width: $min-width;
}

.layout--content {
  overflow-x: hidden;
  overflow-y: scroll;
  transform: translateZ(0px);
  height: $layout-height;
  .has-service-footer-simple & {
    height: $layout-height-simple;
  }
  .has-service-footer-complex & {
    height: $layout-height-complex;
  }
}

.service--content {
  padding: 0 0 px(100px) 0;
}
.service--footer {
  border-top: rem(4px) solid #000;
  position: absolute;
  bottom: px(10px);
  left: 0;
  right: px(10px);
  .has-sidebar & {
    left: $has-sidebar;
    min-width: #{$min-width - $has-sidebar - px(10px)};
  }
  .has-sidebars & {
    left: $has-sidebars;
    min-width: #{$min-width - $has-sidebars - px(10px)};
  }
  .has-sidebars_active & {
    left: $has-sidebars_active;
    min-width: #{$min-width - $has-sidebars_active - px(10px)};
  }
}

.icon-close {
  position: fixed;
  top: $header-height + px(20px);
  right: px(26px);
  z-index: 20;
  @media screen and (max-width: #{$min-width}) {
    right: auto;
    left: #{$min-width - px(20px) - px(26px)};
  }
}