@import 'variables';
.scroll-container {
  height: $layout-height;
  overflow-y: scroll;
}

.mp-pad--default {
  padding: 27px 28px 60px;
}

.main-page--welcome {
  height: $layout-height;
  background: #000 url(../img/bg-main-page.jpg) 0 10% no-repeat;
  background-size: cover;
  border-bottom: 2px solid #000;
  color: #fff;
  padding: 51px 30px 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: stretch;
  align-items: flex-start;
  h1 {
    @include fontSize(59px);
    line-height: 1.11;
    margin: 0;
    padding: 0 0 20px 0;
  }
  p {
    max-width: 592px;
    @include fontSize(20px);
    line-height: 1.5;
    margin: 0;
    padding: 0;
    &.subheader {
      line-height: 1;
      padding-bottom: 9px;
    }
  }
}

.main-page--navigation-arrow {
  margin-top: 11px;
  margin-left: -10px;
  padding: 10px;
}

.main-page--photo-description {
  color: #B9B9B9;
  @include fontSize(13px);
  line-height: 1.25;
  align-self: flex-end;
  transform: rotate(90deg) translateY(-24px) translateX(17px);
  transform-origin: top right;
}

.flip-360 {
  transform: rotate(180deg);
}

.main-page {
  h2 {
    @include fontSize(40px);
    padding: 0 0 10px 0;
  }
  h3 {
    padding: 0 0 1px 0;
  }
  .row {
    border: 2px solid black;
    border-width: 2px 0;
  }
  .main-page+.row {
    border-top-width: 4px;
  }
  .row:last-child {
    border-bottom: none;
  }
  .row>*[class^="col"] {
    border: 2px solid #000;
    border-width: 0 2px;
  }
  .row>*[class^="col"]:first-child {
    border-left: none;
  }
  .row>*[class^="col"]:last-child {
    border-right: none;
  }
}

.main-page--description {
  padding: 40px 50px 60px 30px;
}

.main-page--expirience {
  display: flex;
  align-items: flex-start;
  padding-top: 42px;
  p {
    padding: 0;
    @include fontSize(20px);
  }
  b {
    display: block;
    @include fontSize(100px);
    font-weight: 400;
    line-height: 1;
    height: 0.9em;
    margin-left: -4px;
  }
}

.main-page--discount {
  padding: 20px;
  p {
    display: flex;
    padding: 0;
  }
  b {
    flex: 0 0 50px;
    @include fontSize(70px);
    font-weight: 400;
    line-height: 1;
    padding: 0 23px 0 0;
    height: 0.85em;
  }
}

.main-page--video {
}

.main-page--video-embed {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.main-page--employee {}

.main-page--vacancy {
  border-top: 37px solid #000 !important;
  padding-bottom: 1rem;
}

@media screen and (max-width: 1100px) {
  .has-sidebars .main-page--grid-10-sm {
    grid-template-columns: repeat(16, 1fr);
    .main-page--employee {
      grid-column: 4 span;
    }
    .employee-list {
      grid-column: 7 span;
    }
    .employee--image img {
      margin-right: 0;
      width: 150px;
    }
    .main-page--vacancy {
      grid-column: 5 span;
    }
  }
}

.main-page--address {
  color: #fff;
  border-top: 75px solid #000 !important;
  padding-bottom: 3px;
}

.main-page--map {
  padding: 0;
  height: 450px;
  background-color: #fff;
  background: url(../img/bg-map.png) center center no-repeat;
  background-size: cover;
}

.proposal-block {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;
  padding-right: 35px;
  padding-bottom: 23px;
}

.proposal-block--description {
  flex: 1 1 auto;
}

.proposal-block--images {
  text-align: right;
  flex: 0 1 auto;
  align-self: flex-end;
  padding: 25px 0 0 0;
  a {
    display: inline-block;
  }
  a+a {
    margin-left: 2rem;
  }
  .icon-kmstudio {
    background: url(../img/proposal-kmstudio-bg.png) top left no-repeat;
    background-size: 61px 106px;
  }
  a:hover .icon-kmstudio {
    background-position: bottom left;
  }
}

.employee-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  .employee__horizontal {
    border: 2px solid #000;
    border-width: 2px 0;
  }
  .employee__horizontal:first-child {
    border-top: none;
  }
  .employee__horizontal:last-child {
    border-bottom: none;
  }
}

.employee {
  display: flex;
  ul {
    list-style: none;
    line-height: 1;
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0;
    padding: 0 0 10px 0px;
  }
}

.employee--image {
  flex: 0 0 auto;
  align-self: flex-end;
  img {
    width: 171px;
    max-width: 100%;
    margin-right: 20px;
  }
}

.employee__vertical {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-end;
  align-items: flex-start;
  padding-bottom: 0;
  .employee--image {
    order: 1;
    flex: 0 0 auto;
    align-self: flex-start;
    margin: 0 -28px;
  }
  .employee--description {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }
}

.employee__horizontal {
  flex: 0 0 50%;
  .employee--description {
    padding: 27px 20px 0 0;
  }
}

.address-block {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;
}

.address-block--top,
.address-block--bottom {
  max-width: 190px;
}

.address-block--bottom p {
  line-height: 1.4;
}