
.PriceEditor-price {
  .PriceEditor-priceInput {
    display: none;
  }
  .PriceEditor-priceFormatted {
    display: block;
  }
  &--isActive {
    .PriceEditor-priceInput {
      display: block;
    }
    .PriceEditor-priceFormatted {
      display: none;
    }
  }
}
.PriceEditor-priceRange {
  visibility: hidden;
  height: 12px;
}

.rangeslider,
.rangeslider__fill {
  display: block;
}

@mixin thinLine($color) {
  background-image: linear-gradient($color, $color);
}

.rangeslider {
  @include thinLine(rgba(255,255,255,0.3));
  background-size: 1px 1px;
  background-position: left center;
  background-repeat: repeat-x;
  cursor: pointer;
  // background: rgba(255,255,255,0.3);
  position: relative;
}

.rangeslider--horizontal {
  height: 15px;
  transform: translateY(-7px);
  width: 100%;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  background-size: 1px 1px;
  background-position: left center;
  background-repeat: repeat-x;
  cursor: pointer;
  @include thinLine(#fff);
  position: absolute;
}
.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}

.rangeslider__handle {
  cursor: pointer;
  display: inline-block;
  width: 7px;
  height: 7px;
  position: absolute;
  top:4px;
  background: #fff;
  border-radius: 50%;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
  transition: left .1s ease-in-out, transform .1s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}
.rangeslider:hover .rangeslider__handle,
.rangeslider__handle:active, .rangeslider--active .rangeslider__handle {
  transform: scale(1.2);
  transition: none;
}

input:focus + input[type="range"] + .rangeslider {
  @include thinLine(#fff);
  pointer-events: none;
}
input:focus + input[type="range"] + .rangeslider .rangeslider__fill,
input:focus + input[type="range"] + .rangeslider .rangeslider__handle {
  display: none;
}
input[type="range"]:focus + .rangeslider .rangeslider__handle {
  transform: translateX(-1px) scale(1.2);
}