@import 'variables';

.menu-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-end;
  align-items: stretch;
  height: calc(100vh - 79px);
  &.js-old {
    z-index: 50;
  }
  &.js-new {
    z-index: 100;
  }
}

.menu {
  padding: 40px 0;
  border-right: 4px solid #000;
  max-width: $menu-width;
  overflow: hidden;
  // .js-animate & {
  //   transition:
  //     width $uiTransitionDuration $uiTransitionFunction,
  //     border-right-width $uiTransitionDuration $uiTransitionFunction;
  // }
  ul {
    margin: 0;
    padding: 0;
    width: $menu-width - 4px;
    transition: font-size .001s linear;
  }
  .has-sidebar & {
    width: $has-sidebar;
  }
  .has-sidebars & {
    width: $has-sidebars;
  }
  .has-sidebars_active & {
    width: $has-sidebars_active;
  }
  &.menu__shrinked {
    @include fontSize(13px);
    line-height: 1.2;
    max-width: $menu-width--shrinked;
    ul {
      width: $menu-width--shrinked - 4px;
    }
  }
}

.menu__level1 {
  background-color: $menu-bg1;
}

.menu__level2 {
  background-color: $menu-bg2;
}
.has-sidebar, .has-sidebars, .has-sidebars_active {
  .menu__virtual {
    width: 0;
    border-right-width: 0;
  }
}

.menu li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  &:not(:last-child):after {
    content: '';
    display: block;
    height: 1px;
    background-color: rgba(0,0,0,0.2);
    margin: 0 25px 0 15px;
  }
  a, span {
    padding: 8px 21px 8px 15px;
    display: inline-block;
  }
  span {
    color: #fff;
  }
}