@import 'variables';

.iconToggle {
  width: 20px;
  height: 10px;
}

.info__content-transition .info--toggle svg {
  .svg-primary-stroke, .svg-bg-fill {
    stroke: $color-red;
    fill: $color-red;
  }
  .svg-primary-fill {
    fill: $color-white;
  }
}

.info__content-visible:not(.info__content-transition) .info--toggle svg {
  .svg-primary-stroke, .svg-bg-fill {
    stroke: $color-black;
    fill: $color-black;
  }
  .svg-primary-fill {
    fill: $color-white;
  }
}

.info__content-visible:not(.info__content-transition) .info--toggle:hover svg {
  .svg-primary-stroke, .svg-bg-fill {
    stroke: $color-red;
    fill: $color-red;
  }
  .svg-primary-fill {
    fill: $color-white;
  }
}
