@import 'rfs.scss';

$base-font-size: 16px;
@function rem($px) {
  @return ($px / $base-font-size) * 1rem;
}

@function inPercent($px, $width) {
  @return (100 * $px / $width) * 1%;
}

@mixin fontSize($fz) {
  font-size: rem($fz);
}

@mixin fluid-type($min-font-size: 12px, $max-font-size: 21px, $lower-range: 420px, $upper-range: 900px) {
  font-size: calc(#{$min-font-size} + #{(($max-font-size / ($max-font-size * 0 + 1)) - ($min-font-size / ($min-font-size * 0 + 1)))} * ( (100vw - #{$lower-range}) / #{(($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1)))}));

  @media screen and (max-width: $lower-range) {
    font-size: $min-font-size;
  }
  @media screen and (min-width: $upper-range){
    font-size: $max-font-size;
  }
}

@mixin hover-transition($duration: .25s) {
  transition:
    color $duration ease-out,
    background-color $duration ease-out,
    border-bottom-color $duration ease-out,
    fill $duration ease-out,
    stroke $duration ease-out;
  &:hover, &:active, &:focus {
    transition: none;
  }
}

@mixin link($link-color, $link-active-color, $bg-color: #fff) {
  $link-border-color: rgba($link-color, .4);
  $link-hover-border-color: rgba($link-color, .6);
  $link-active-border-color: rgba($link-active-color, .8);
  $border-height: 1px;

  color: $link-color;
  background-image: linear-gradient($link-border-color, $link-border-color 1px, transparent 1px, transparent);
  background-size: 1px $border-height;
  background-position: left bottom;
  background-repeat: repeat-x;
  text-shadow: -1px 0 $bg-color, 1px 0 $bg-color;
  text-decoration: none;
  &:hover {
    background-image: linear-gradient($link-hover-border-color, $link-hover-border-color 1px, transparent 1px, transparent);
  }
  &:active {
    color: $link-active-color;
    background-image: linear-gradient($link-active-border-color, $link-active-border-color 1px, transparent 1px, transparent);
  }
}
@mixin link-reset() {
  background: none;
  text-shadow: none;
}

$font-family: 'Formular', Roboto, Verdana, sans-serif;

$min-width: 1000px;

$header-height: 69px;
$border-height: 10px;
$footer-height-simple: 71px;
$footer-height-complex: 139px;
$layout-height: calc(100vh - #{$header-height + $border-height - 1});
$layout-height-simple: calc(100vh - #{$header-height + $border-height + $footer-height-simple});
$layout-height-complex: calc(100vh - #{$header-height + $border-height + $footer-height-complex});

$color-white: #fff;
$color-black: #000;
$color-blue: #1E3179;
$color-yellow: #FFC107; // use on hover on white bg
$color-red: #E33F0B; // use on hover on white bg
$menu-bg1: $color-red;
$menu-bg2: $color-yellow;


$column-width: 600px;
$content-padding-left: 40px;
$content-padding-right: 20px;

$menu-width: 194px;
$menu-width--shrinked: 124px;
$has-sidebar: 194px;
$has-sidebars: 318px;
$has-sidebars_active: 248px;

$uiTransitionDuration: .3s;
$uiTransitionFunction: ease-in;