<%
  const hash = new Date().getTime();
%>
<footer class="site-footer"><div class="site-footer--rotate"><p>Сделано в&nbsp;школе Бюро&nbsp;Горбунова</p></div></footer>

<script src="/js/vendor/jquery-3.2.1.min.js"></script>
<script src="/js/vendor/anime.min.js"></script>
<!-- script src="/js/vendor/element-resize-detector.js"></script -->
<script src="/js/vendor/inputmask/inputmask.min.js"></script>
<script src="/js/vendor/inputmask/jquery.inputmask.min.js"></script>
<script src="/js/vendor/stickyfill.js?<%- hash %>"></script>
<script src="/js/plugins.js?<%- hash %>"></script>
<script src="/js/main.js?<%- hash %>"></script>