<header class="layout-header">
  <div class="header bg-black">
    <div class="header--logo">
      <% if(current.path.length > 1) { %>
        <a href="/"><%- partial("../_snippets/svg-icon.ejs", { name: 'logo' }) %><span>Городское бюро недвижимости</span></a>
      <% } else { %>
        <%- partial("../_snippets/svg-icon.ejs", { name: 'logo' }) %>Городское бюро недвижимости
      <% } %>
    </div>
    <div class="header--phone">
      <a href="tel:+74957735577">+7&nbsp;495&nbsp;773-55-77</a>
    </div>
  </div>
</header>