head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  title Городское бюро недвижимости

  link(rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png")
  link(rel="manifest" href="/site.webmanifest")
  link(rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#5bbad5")
  meta(name="msapplication-TileColor" content="#ffffff")
  meta(name="theme-color" content="#ffffff")

  //-
    /**
    * @license
    * MyFonts Webfont Build ID 3564984, 2018-04-22T14:18:22-0400
    *
    * The fonts listed in this notice are subject to the End User License
    * Agreement(s) entered into by the website owner. All other parties are
    * explicitly restricted from using the Licensed Webfonts(s).
    *
    * You may obtain a valid license at the URLs below.
    *
    * Webfont: Formular-Bold by Brownfox
    * URL: https://www.myfonts.com/fonts/brownfox/formular/bold/
    *
    * Webfont: Formular by Brownfox
    * URL: https://www.myfonts.com/fonts/brownfox/formular/regular/
    *
    *
    * License: https://www.myfonts.com/viewlicense?type=web&buildid=3564984
    * Licensed pageviews: 20,000
    * Webfonts copyright: Copyright (c) 2014 by Vyacheslav Kirilenko, Gayane Bagdasaryan.
    * All rights reserved.
    *
    * © 2018 MyFonts Inc
    */
  link(rel="stylesheet" href="/fonts/MyFontsWebfontsKit.css")
  link(rel="stylesheet" href="/css/style.css?201805161100")