<% if(current.path.length > 1) { %>
  <%
  const MENU_TITLES = {
    buy: {
      flat: 'Квартиру',
      room: 'Комнату, долю',
      house: 'Дом, таунхаус',
      commercial: 'Коммерчес&shy;кую недви&shy;жи&shy;мость'
    },
    sell: {
      flat: 'Квартиру',
      room: 'Комнату, долю',
      house: 'Дом, таунхаус',
      commercial: 'Коммерче­с&shy;кую недви&shy;жи&shy;мость'
    },
    rent: {
      flat: 'Квартиру, комнату или&nbsp;дом',
      commercial: 'Коммерче­с&shy;кую недви&shy;жи&shy;мость'
    },
    let: {
      flat: 'Квартиру, комнату или&nbsp;дом',
      commercial: 'Коммерче­с&shy;кую недви&shy;жи&shy;мость'
    }
  }

  const mainMenuLevel = current.path[0];
  const currentMenuTitles = MENU_TITLES[mainMenuLevel];
  const subMenuArray = Object.keys(public[mainMenuLevel]._data) || [];

  function menuShrinkedClass() {
    return current.path.length > 2 ? 'menu__shrinked' : '';
  }
  function isActiveMainMenuItem(menuItemSlug) {
    return current.path[1] === menuItemSlug;
  }
  function getMenuHref(menuItemSlug) {
    return `/${current.path[0]}/${menuItemSlug}`;
  }
  function getMenuItemTitle(menu) {
    return currentMenuTitles[menu];
  }

  %>
  <% if(subMenuArray.length > 1) { %>
    <nav class="menu menu__level2 bg-yellow <%- menuShrinkedClass() %>">
     <ul>
        <% subMenuArray.forEach(function(menu) { %>
          <% if (public[mainMenuLevel][menu] && public[mainMenuLevel][menu]._data.index) { %>
            <% if (isActiveMainMenuItem(menu)) { %>
              <li><span><%- getMenuItemTitle(menu) %></span></li>
            <% } else { %>
              <li><a href="<%- getMenuHref(menu) %>"><%- getMenuItemTitle(menu) %></a></li>
            <% } %>
          <% } %>
        <% }) %>
      </ul>
    </nav>
  <% } else { %>
    <nav class="menu menu__level2 menu__virtual bg-yellow">
  <% } %>
<% } else { %>
  <nav class="menu menu__level2 menu__virtual bg-yellow">
<% } %>