<% if(current.path.length > 1) { %>
  <%
  const MENU_TITLES = {
    buy: {
      flat: 'Квартиру',
      room: 'Комнату или&nbsp;долю',
      house: 'Дом, таунхаус',
      commercial: 'Коммерче­скую недви­жимость'
    },
    sell: {
      flat: 'Квартиру',
      room: 'Комнату или&nbsp;долю',
      house: 'Дом, таунхаус',
      commercial: 'Коммерче­скую недви­жимость'
    }
  }

  const mainMenuLevel = current.path[0];
  const currentMenuTitles = MENU_TITLES[mainMenuLevel];
  const subMenuArray = public._data[mainMenuLevel].menu || [];

  function menuShrinkedClass() {
    return current.path.length > 2 ? 'menu__shrinked' : '';
  }
  function isActiveMainMenuItem(menuItemSlug) {
    return current.path[1] === menuItemSlug;
  }
  function getMenuHref(menuItemSlug) {
    return `/${current.path[0]}/${menuItemSlug}`;
  }
  function getMenuItemTitle(menu) {
    return currentMenuTitles[menu];
  }

  %>
  <% if(subMenuArray.length) { %>
    <nav class="menu menu__level2 <%- menuShrinkedClass() %>">
      <% subMenuArray.forEach(function(menu) { %>
        <% if (public[mainMenuLevel][menu] && public[mainMenuLevel][menu]._data.index) { %>
          <% if (isActiveMainMenuItem(menu)) { %>
            <li><span><%- getMenuItemTitle(menu) %></span></li>
          <% } else { %>
            <li><a href="<%- getMenuHref(menu) %>"><%- getMenuItemTitle(menu) %></a></li>
          <% } %>
        <% } %>
      <% }) %>
    </nav>
  <%} %>
<%} %>