<%
const MENU_TITLES = {
  sell: 'Продать',
  buy: 'Купить',
  'urgent-sell': 'Срочно продать (выкуп)',
  mortgage: 'Получить ипотеку',
  rent: 'Арендовать',
  let: 'Сдать в аренду',
  'oh-my-god': 'Всё сложно'
}

const menuArray = Object.keys(public._data);

function isActiveMainMenuItem(menuItemSlug) {
  return current.path[0] === menuItemSlug;
}
function menuShrinkedClass() {
  const subMenuArray = public[current.path[0]] ? Object.keys(public[current.path[0]]._data) : [];
  const isNestedPage = current.path.length > 1;
  const isSubmenuExists = !!subMenuArray.length && !(subMenuArray.length === 1 && subMenuArray[0] === 'index');
  return isNestedPage && isSubmenuExists ? 'menu__shrinked' : '';
}
%>
<nav class="menu menu__level1 <%- menuShrinkedClass() %>">
  <% menuArray.forEach(function(menu){ %>
    <% if (public[menu]) { %>
      <% if (isActiveMainMenuItem(menu)) { %>
        <li><span><%- MENU_TITLES[menu] %></span></li>
      <% } else { %>
        <li><a href="/<%- menu %>"><%- MENU_TITLES[menu] %></a></li>
      <% } %>
    <% } %>
  <% }) %>
</nav>